.custom-scroll-style {
    scrollbar-width: thin;
    scrollbar-color: #5886f9 #f5f5f5;
  }
  
  .custom-scroll-style::-webkit-scrollbar {
    width: 12px;
  }
 
  .ant-select-selection-overflow{
justify-content: end;  }
  .custom-scroll-style::-webkit-scrollbar-thumb {
    background-color:#60a5fa;
    border-radius: 4px;
  }.backdrop-blur-sm {
    backdrop-filter: blur(5px);
  }
  
 .css-dev-only-do-not-override-zl9ks2 .ant-modal .ant-modal-content
   {
   padding: 0 !important;
  }
  .gm-style-iw gm-style-iw-c{
    padding-top: 20px;
  }

  .gm-style .gm-style-iw-d {
    background-color: transparent !important;
overflow: hidden !important;
    overflow-y: hidden !important;
    max-height: fit-content !important;
  }
/* Add background blur to the content of the InfoWindow */
/* .gm-style-iw .gm-style-iw-c {
  background-color: red !important;
  backdrop-filter: blur(30px);
} */

/* Add background blur to the entire InfoWindow */
.gm-style .gm-style-iw-c {
  background-color: transparent !important;
  backdrop-filter: blur(20px); 
}

/* If needed, apply background blur to the InfoWindow overlay */

.gm-style .gm-style-iw-c{
  padding: 0px !important;
}