.custom-scroll-style {
    scrollbar-width: thin;
    scrollbar-color: #5886f9 #f5f5f5;
  }
  
  .custom-scroll-style::-webkit-scrollbar {
    width: 12px;
  }
  
  .custom-scroll-style::-webkit-scrollbar-thumb {
    background-color:#60a5fa;
    border-radius: 4px;
  }
  
  .custom-scroll-style::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }