/* index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the following CSS code */

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

body {
  font-family: 'Cairo', sans-serif; /* Use the Cairo font for the body */
}

.custom-info-window {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px; /* Adjust as needed */
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
}
